#plots_pieChart {
	width: 80%;
	height: 80%;
	margin: -100 auto;
}

.move-1 {
	position: relative;
	opacity: 1;
	-webkit-animation: move-1 0.5s forwards;
}

.move-2 {
	position: relative;
	opacity: 1;
	-webkit-animation: move-2 0.5s forwards;
}

.move-3 {
	position: relative;
	opacity: 1;
	-webkit-animation: move-3 0.5s forwards;
}

@-webkit-keyframes move-1 {
	from {
		left: 0px;
		top: 0px;
	}
	to {
		left: 400px;
		top: 0px;
	}
}

@-webkit-keyframes move-2 {
	from {
		left: 0px;
		top: 0px;
	}
	to {
		left: 600px;
		top: 100px;
	}
}

@-webkit-keyframes move-3 {
	from {
		left: 0px;
		top: 0px;
	}
	to {
		left: 300px;
		top: 200px;
	}
}
