#index-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(100, 100, 100, 1);
	z-index: 1000;
	overflow: auto;
	padding-left: 1.1%;
}

.slide-thumbnail {
	-webkit-transition: all 1s ease-in-out;
	display: inline-block;
	position: relative;
	margin: 0.7%;
	opacity: 0;
	left: -100%;
}

.slide-thumbnail.visible {
	left: 0;
	opacity: 1;
}

.slide-thumbnail:hover::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	outline: solid 2px rgba(100, 110, 130, 1);
	box-shadow: inset 0px 0px 50px 50px rgba(200, 210, 230, 0.6);
}

.sl-th-index {
	position: absolute;
	font-size: medium;
	font-family: verdana;
	right: 0.1em;
	bottom: 0.1em;
}