.goto-destination-container {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 8px;
	border-radius: 4px;
	background: #AAA;
}

.goto-destination {
	width: 130px;
	background: #DDD;
	border: solid #EEE;
	font-size: 3em;
}
