@import url(reset.css);
@import url(../common.css);

@font-face {
	font-family: 'Gotham Black';
	src: url('fonts/Gotham-Black.otf');
}
@font-face {
	font-family: 'Gotham Medium';
	src: url('fonts/Gotham-Medium.otf');
}
@font-face {
	font-family: 'Gotham Condensed Black';
	src: url('fonts/GothamCond-Black.otf');
}
@font-face {
	font-family: 'Gotham Medium';
	src: url('fonts/Gotham-MediumItalic.otf');
	font-style: italic;
}
@font-face {
	font-family: 'Lobster';
	src: url('fonts/Lobster 1.4.otf');
}

.presentation-container {
	-webkit-perspective: 2000px;
	background: -webkit-radial-gradient(rgba(200, 200, 200, 1), rgba(100, 100, 100, 1));
	font-family: 'Gotham Medium';
	color: rgb(35, 37, 40);
}

body {
	font-size: 1.21vw;
}

section {
	background: url(img/grey-gradient.png);
	box-sizing: border-box;
	background-size: 100% 100%;
	/*padding: 8em 10em 8em 10em;*/
	padding: 10% 13% 20% 13%;
	-webkit-perspective: 2000px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-120px);
	-webkit-transform-origin: center center 800px;	
	font-size: 2em;
}

section .big-box {
	font-size: 1.5em;
}

section.figure {
	padding: 5% 7% 10% 7% !important;
}

section.figure > img,
section.figure > video,
section.figure > figure {
	width: 100%;
	max-height: 100%;
	position: relative;
	display: block; 
	margin: 0 auto 1.5em auto;
}

section.figure figure > object,
section.figure figure > img,
section.figure figure > svg {
	width: 90%; 
	max-height: 90%;
	position: relative; 
	display: block; 
	margin: 0 auto;
}

figure figcaption {
	/*-webkit-transform: translateZ(20px);*/
	/*border-top: 1px solid;
	padding-top: 0.1em;*/
	font-weight: bolder;
	font-size: smaller;
	text-align: center;
	display: block;
	color: darkgrey;
	width: 100%;
}

section > * {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(3px);	
}

section.leave {
	z-index: 10;
	-webkit-animation: leave .2s linear;
}

section.enter {
	z-index: 20;
	-webkit-animation: enter .2s linear;
}

section:not(.cover) h1 {
	font-family: 'Gotham Condensed Black';
	font-weight: 900;
	display: block;
	font-size: 4em;
	position: fixed;
	left: 0.6em;
	bottom: 0.5em;
	color: rgba(43, 60, 75, 1);
	-webkit-box-reflect: below -0.25em -webkit-gradient(
		linear, 
		left top, 
		left bottom, 
		from(transparent), 
		color-stop(.4, transparent),
		color-stop(.8, rgba(255, 255, 255, 0.4)),
		color-stop(.85, transparent),
		to(transparent)
	);
	-webkit-transform: translateZ(100px);
	text-shadow: 
		1px -2px rgba(150, 150, 150, 1),
		2px -2px rgba(150, 150, 150, 0.8),
		3px -2px rgba(150, 150, 150, 0.8),
		2px 1px rgba(33, 35, 65, 0.5);
}

section:not(.cover)::after {
	content: '';
	width: 100vw;
	height: 240px;
	left: 0px;
	bottom: 0px;
	position: fixed;
	background: url(img/glass.png);
	background-size: 100% 100%;
	display: block;
	opacity: 0.8;
	-webkit-transform: rotateX(70deg) translateY(120px);
}

section::before {
	content: '';
	width: 100vw;
	height: 200px;
	left: 0px;
	bottom: 0px;
	position: fixed;
	background: url(img/glass.png);
	background-size: 100% 100%;
	display: block;
	opacity: 1;
	-webkit-transform-origin: 0 100%;
	-webkit-transform: rotateX(-90deg);
}

section.cover {
	background: url(img/squared_metal.png) repeat;
}

section.cover h1 {
	-webkit-animation: inset 0.5s ease forwards;
	position: relative;
	font-family: 'Gotham Condensed Black';
	text-align: center;
	font-weight: 900;
	display: block;
	margin-top: 20%;
	left: 0;
	bottom: 0;
	color: rgba(100, 100, 100, 0.8);
	font-size: 4em;
}

section.cover h2 {
	text-align: center;
	color: rgba(100, 100, 100, 0.8);
}

section h2 {
	font-family: 'Gotham Condensed Black';
	font-variant: small-caps;
	font-size: 4em;
	position: relative;
	margin-bottom: 0.2em;
	-webkit-transform: translateZ(80px);
	-webkit-perspective: 2000px;
}

section.cover h2 {
	font-family: 'Gotham Condensed Black';
	font-size: 2em;
	position: relative;
	margin-bottom: 1em;
	-webkit-transform: translateZ(80px);
	-webkit-perspective: 2000px;
}

section:not(.cover) h2::before {
	content: '';
	display: block;
	position: absolute;
	left: -30px;
	top: 10px;
	height: 50vh;
	width: 2px;
	background: -webkit-radial-gradient(rgba(43, 60, 75, 1) 5%, transparent 90%);
}

section h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
	-webkit-perspective: 2000px;
}
section ol {
	list-style-position: outside;
	font-size: smaller;
	font-style: italic;
	color: rgba(43, 60, 75, 1);
}

section ul li::before {
	content: '*';
	font-style: normal;
	font-size: larger;
	font-weight: bold;
	position: relative;
	float: left;
	left: -0.1em;
	top: 0.48em;
	color: rgba(43, 60, 75, 1);
}

section ul p {
	margin-left: 0.5em;
}

section ol p,
section ul p {
	padding: 0.3em 0.2em;
}

section ol p,
section ul p {
	font-size: larger;
	font-family: 'Gotham Medium';
	font-style: normal;
	color: rgb(35, 37, 40);
	border-left: solid 1px grey;
}

section ol {
	list-style-type: decimal;
}

section ul {
	list-style-type: none;
}

section li > ul, 
section li > ol {
	margin-left: 0.6em;
	padding-left: 1.5em;
	border-left: solid 1px grey;
}

section li > ul li, 
section li > ol li {
	font-size: 0.7em;
}

section blockquote {
	-webkit-perspective: 2000px;
	-webkit-transform: translateZ(60px);
	font-family: 'Lobster';
	color: lightgrey;
    text-rendering: optimizeLegibility;
	padding: 1em;
}

section blockquote::first-letter {
	font-size: 2.2em;
	color: rgb(40, 40, 50);
	float: left;
	margin: 0 0.2em -0.3em 0;
}

section blockquote footer {
	margin-top: 1em;
	text-align: right;
	font-size: 0.5em;
	font-family: 'Gotham Medium';
	color: rgb(35, 37, 40);
}

section blockquote footer::before {
	content: '\02014';
}

section blockquote::before {
	content: '\0201D';
	-webkit-transform: translateZ(-50px);
	font-size: 10em;
	position: absolute;
	right: -0.02em;
	top: -0.1em;
	z-index: -10;
	color: rgba(40, 40, 50, 0.2);
}

section [step] {
	-webkit-transition: opacity 0.6s;
	-webkit-transform: translateZ(0);
	opacity: 0;
}

section [step].visible {
	opacity: 1;
}

section .banner {
	font-family: 'Gotham Condensed Black';
	font-size: 4em;
	margin-top: 10%;
	text-align: center;
}

/* *********************************************************************************************************************
	One% CSS Grid - 12 Columns Fluid CSS Grid System

	Why One% ? Let’s count ...
		we have 12 columns (magic number divided by 2, 3, 4, 6)

		for 12 columns we need 11 margins

		so if we count margin 3%, then 3% * 11 margins = 33%

		and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

		in the end we have 33% + 66% = 99% aaand ???

		1% is still here so that's the name - One%

	2 starting options ? Let’s count a bit more ...
		1200px - perfectly fits 1280 screens
			12 columns
			margin 3% / 36px (full-width)
			col1 5.5% / 66px (full-width)

		1000px - perfectly fits 1024 screens
			12 columns
			margin 3% / 30px (full-width)
			col1 5.5% / 55px (full-width)
*/

/* *********************************************************************************************************************
 * Main container for all
 */
.onepcssgrid {
	box-sizing: content-box;
	margin: 0;
	max-width: 100%;
	padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.onerow {
	clear: both;
	margin: 0px 0px 20px 0px;
}

.onerow::after {
	content: ' ';
	display: block;
	clear: both;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 3% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

/*****************/
.onerow h2 {
	font-size: 2.5em;
}

@-webkit-keyframes inset {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-1000px) translateZ(100px);
		text-shadow: 0px 0px 0 rgba(200, 200, 200, 0), 0 0 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(200, 200, 200, 0);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(-500px) translateZ(100px);
		text-shadow: 0px 0px 0 rgba(200, 200, 200, 0), 0 0 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(200, 200, 200, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0) translateZ(100px);
	    text-shadow: 1px 4px 6px rgba(200, 200, 200, 1), 0 0 0 #000, 1px 4px 6px rgba(200, 200, 200, 1);
	}
}

@-webkit-keyframes leave {
	0% {
		-webkit-transform: rotateY(0deg) translateZ(-120px);
	}
	100% {
		-webkit-transform: rotateY(90deg) translateZ(-120px);
	}
}

@-webkit-keyframes enter {
	0% {
		-webkit-transform: rotateY(-90deg) translateZ(-120px);
	}
	100% {
		-webkit-transform: rotateY(0deg) translateZ(-120px);
	}
}

.centered {
	display: block;
	margin: 0 auto;
}
